.homebanner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* FULL VIDEO */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* VERY LIGHT OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.28);
  z-index: 1;
}

/* CONTENT */
.banner-content {
  position: relative;
  z-index: 2;

  width: 45%;
  height: 100%;

margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-right: auto;
  color: #fff;
}

/* TOP TEXT */
.discount {
  font-size: 18px;
  letter-spacing: 4px;
  color: #ffb400;
  font-weight: 600;

  margin-bottom: 18px;

  animation: fadeUp 1s ease;
}

/* HEADING */
.banner-content h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;

  opacity: 0;
  transform: translateY(120px);

  animation: headingUp 1s ease forwards;
  animation-delay: 0.4s;
}

/* PARAGRAPH */
.banner-content p {
  width: 600px;
  max-width: 100%;

  font-size: 20px;
  line-height: 1.8;
  color: #f1f1f1;

  margin-bottom: 40px;

  opacity: 0;
  transform: translateY(100px);

  animation: paraUp 1s ease forwards;
  animation-delay: 0.9s;
}

/* HEADING ANIMATION */
@keyframes headingUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* PARAGRAPH ANIMATION */
@keyframes paraUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* TAGLINE */
.banner-tagline {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #ffb400;
  margin-bottom: 18px;
  opacity: 0;
  transform: translateY(20px);
}

.showTagline {
  animation: taglineFade 0.8s ease forwards;
}

@keyframes taglineFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* BUTTONS */
.banner-btns {
  display: flex;
  gap: 20px;

  animation: fadeUp 1.6s ease;
}

.primary-btn,
.secondary-btn {
  padding: 11.5px 30px;
  border-radius: 50px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.4s;
}

/* PRIMARY */
.primary-btn {
  background: #ffb400;
  border: none;
  color: #111;
}

.primary-btn:hover {
  transform: translateY(-4px);
}

/* SECONDARY */
.secondary-btn {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.secondary-btn:hover {
  background: #fff;
  color: #111;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .banner-content {
    width: 100%;
    margin: auto;
    align-items: center !important;
    text-align: center !important;
  }
.heading-line{
  font-size: 25px;
}

  .banner-content p {
    font-size: 18px;
  }

  .banner-btns {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    width: 220px;
  }
}