/* =========================
   SECTION
========================= */
.homeabout {
  margin-top: 2.5%;
  background-color: #336666;
  color: #fff;
}

/* MAIN LAYOUT */
.homeabout-container {
  display: flex;
  align-items: center;
}

/* =========================
   LEFT IMAGE (50%)
========================= */
.homeabout-left {
  width: 50%;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* IMAGE */
.image-wrapper img {
  width: 100%;
  height: 700px;
  object-fit: cover;

  /* 🔥 AUTO ZOOM EFFECT */
  animation: zoomIn 5s linear forwards;
}

/* 🔥 KEYFRAME (MAIN EFFECT) */
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

/* SOFT RIGHT-BOTTOM SHADOW */
.image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(50px);
  z-index: 0;
}

/* =========================
   RIGHT CONTENT
========================= */
.homeabout-right {
  width: 50%;
  padding: 60px;
}

.tag {
  color: #ffb400;

}

.title {
  margin: 15px 0;
}

.desc {
  color: #ddd;
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact {
  margin-bottom: 25px;
}

/* BUTTON */
.menu-btn {
  padding: 12px 32px;
  border: none;
  background: #f4c542;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

.menu-btn {
  position: relative;
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease;
  font-weight: 600;
  border-radius: 1px;
  text-decoration: none;
  display: inline-block;
}

/* YELLOW FILL EFFECT */
.menu-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #f4c542;
  z-index: -1;
  transition: left 0.4s ease;
}

/* HOVER EFFECT */
.menu-btn:hover::before {
  left: 0;
}

.menu-btn:hover {
  color: #fff;
  border-color: #f4c542;
  transform: translateY(-2px);
}

.book-btn a {
  text-decoration: none;
}
/* =========================
   RESPONSIVE
========================= */
@media (max-width: 768px) {
  .homeabout-container {
    flex-direction: column;
  }

  .homeabout-left,
  .homeabout-right {
    width: 100%;
  }

  .homeabout-right {
    padding: 30px 20px;
    text-align: center;
  }

  .image-wrapper img {
    height: 300px;
  }
}